body {
  font-size: 30px;
  line-height: 50px;
}
.range {
  width: 100%;
  height: 80px;
}
* {
  margin: 0;
  padding: 0;
}
header {
  padding: 20px;
  background-image: url("/img/header.png");
  height: 926px;
  width: 100%;
  /* width: 1800px;
  height: 800px; */
  background-position: center;
  background-repeat: no-repeat;
}
.menu {
  position: absolute;
}
ul {
  list-style-type: none;
  padding-left: 250px;
  overflow: hidden;
}
li {
  display: inline-block;
}
li a {
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  color: #fff;
}
.logo1 {
  position: absolute;
  display: flex;
  padding-left: 1000px;
}
.text {
  width: 100%;
  height: 853.06px;
  padding: 150px 0px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}
.button {
  background-color: #2091f9;
  width: 216px;
  border-radius: 35px;
  height: 52px;
  display: block;
  font-size: 24px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
}
.h2text2 {
  padding: 40px 0px;

  display: flex;
  justify-content: center;
}
.phan3 {
  /* width: 1800px; */
  height: 1500px;
}
.p3 {
  display: flex;
  justify-content: center;
}
.text2_2 {
  padding: 40px 0px;
  /* width: 300px;
    height: 69px; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.te2_1 {
  width: 300px;
}
.phan4_1 {
  width: 550px;
}
/* .h2p4{
    width: 300px;
} */
.img {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.phan4 {
  height: 550px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.phan5 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.phan6 {
  background-color: #fff;
  height: 700px;
}
.phan6 .h2p6 {
  padding: 60px 0px;
  display: flex;
  justify-content: center;
}
.imgp6 {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
}
.p6 {
  width: 900px;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
  margin-left: auto;
  margin-right: auto;
}
.p6_2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.h2p7 {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.pp7 {
  display: flex;
  justify-content: center;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
}
.imgp7 {
  padding: 40px 0px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.phan7 {
  padding: 30px 0px;
  background-color: #252b42;
}
